<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comment</title>

    <%- include('partials/links'); %>
</head>
<body>
    <%- include('partials/header', {user: user}); %>

    <div class="container">
        <form id="comment-form">
            <div class="form-text"><h1>Please, leave a comment</h1></div>
            <div class="form-element">
                <div class="form-input-wrapper">
                    <input class="form-input" type="text" name="user-name" id="user-name" placeholder="Your Name" required>
                    <label for="user-name" class="form-input-label">Your Name</label>
                </div>
                <div class="form-input-wrapper">
                    <textarea class="form-input" id="user-comment" placeholder="Comment" rows="1" required></textarea>
                    <label for="user-comment" class="form-input-label">Comment</label>
                </div>
            </div>

            <div class="form-button"><button id="save-button">Submit</button></div>
        </form>
    </div>

    <script src="/js/comment.js"></script>
</body>
</html>