<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizza order</title>

    <%- include('partials/links'); %>
</head>
<body>
    <%- include('partials/header', {user: user}); %>
    
    <div class="pizzas">
        <% pizzas.forEach((pizza) => { %>
            <%- include('partials/pizza', {pizza: pizza}); %>
        <% }); %>
    </div>

    <button class="make-order hidden">Make order</button>

    <script src="/js/index.js"></script>
</body>
</html>
