<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>

    <%- include('partials/links'); %>
</head>
<body>
    
    <form id="sign-up-form">
        <div class="form-text">
            <h1>Sign Up | <a href="/">Home</a></h1>
        </div>

        <div class="form-element">
            <div class="form-input-wrapper">
                <input type="text" name="user-login" id="user-login" class="form-input" placeholder="Login" required>
                <label for="user-login" class="form-input-label">Login</label>
            </div>
            <div class="form-input-wrapper">
                <input type="password" name="user-password" id="user-password" class="form-input" placeholder="Password" required>
                <label for="user-password" class="form-input-label">Password</label>
            </div>
            <div class="form-input-wrapper">
                <input type="text" name="user-address" id="user-address" class="form-input" placeholder="Address" required>
                <label for="user-address" class="form-input-label">Address</label>
            </div>
            <div class="form-input-wrapper">
                <input type="text" name="user-phone" id="user-phone" class="form-input" placeholder="Phone" required>
                <label for="user-phone" class="form-input-label">Phone</label>
            </div>

            <p id="form-error"></p>
        </div>

        <div class="form-button"><button>Sign up</button></div>
        <div class="form-button"><a href="/login">Log in</a></div>
    </form>

    <script src="/js/signup.js"></script>
</body>
</html>